[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "==7.19.0"
prompt-toolkit = "==3.0.13"
pyaud = "==3.1.0"
pytest = "==6.2.1"
readmetester = {editable = true, path = "."}
restview = "==2.9.2"
twine = "==3.3.0"

[packages]
object-colors = ">=2.0.0"
pygments = "==2.8.1"

[requires]
python_version = "3.8"
